<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="out" class="co.elastic.logging.logback.OutputStreamAppender">
        <encoder class="co.elastic.logging.logback.EcsEncoder">
            <serviceName>test</serviceName>
            <serviceVersion>1.0.0</serviceVersion>
            <includeMarkers>true</includeMarkers>
            <includeOrigin>true</includeOrigin>
            <topLevelLabel>top_level</topLevelLabel>
            <eventDataset>testdataset.log</eventDataset>
            <additionalField>
                <key>key1</key>
                <value>value1</value>
            </additionalField>
            <additionalField>
                <key>key2</key>
                <value>value2</value>
            </additionalField>
        </encoder>
    </appender>
    <root level="DEBUG">
        <appender-ref ref="out"/>
    </root>
</configuration>
