<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="out" class="co.elastic.logging.logback.OutputStreamAppender">
        <encoder class="co.elastic.logging.logback.EcsEncoder">
            <serviceName>test</serviceName>
            <includeMarkers>true</includeMarkers>
            <includeOrigin>true</includeOrigin>
            <stackTraceAsArray>true</stackTraceAsArray>
            <topLevelLabel>top_level</topLevelLabel>
            <eventDataset>testdataset.log</eventDataset>
            <additionalField>
                <key>foo</key>
                <value>bar</value>
            </additionalField>
            <additionalField>
                <key>baz</key>
                <value>qux</value>
            </additionalField>
        </encoder>
    </appender>
    <root level="DEBUG">
        <appender-ref ref="out"/>
    </root>
</configuration>