---
name: snapshot

on:
  push:
    branches:
      - "main"
  workflow_dispatch:
    inputs:
      dry_run:
        description: If set, run a dry-run snapshot
        default: false
        type: boolean

permissions:
  contents: read

jobs:
  validate:
    runs-on: ubuntu-latest
    outputs:
      is-snapshot: ${{ steps.validate.outputs.is-snapshot }}
    steps:
      - uses: actions/checkout@v4
      - name: Validate version is a snapshot version
        id: validate
        run: |
          output=false
          if [[ "$(./mvnw -q help:evaluate -Dexpression=project.version -DforceStdout)" =~ "-SNAPSHOT" ]]; then
            echo "This is a snapshot version"
            output=true
          fi
          echo "is-snapshot=$output" >> "$GITHUB_OUTPUT"

  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    needs: validate
    if: ${{ contains(needs.validate.outputs.is-snapshot, 'true') }}
    permissions:
      attestations: write
      contents: write
      id-token: write
    env:
      TARBALL_FILE: artifacts.tar
    steps:
      - id: buildkite-run
        name: Run Deploy
        uses: elastic/oblt-actions/buildkite/run@v1
        with:
          pipeline: ecs-logging-java-snapshot
          token: ${{ secrets.BUILDKITE_TOKEN }}
          wait-for: true
          env-vars: |
            dry_run=${{ inputs.dry_run || 'false' }}
            TARBALL_FILE=${{ env.TARBALL_FILE }}

      - uses: elastic/oblt-actions/buildkite/download-artifact@v1
        with:
          build-number: ${{ steps.buildkite-run.outputs.number }}
          path: ${{ env.TARBALL_FILE }}
          pipeline: ${{ steps.buildkite-run.outputs.pipeline }}
          token: ${{ secrets.BUILDKITE_TOKEN }}

      - name: untar the buildkite tarball
        run: tar xvf ${{ env.TARBALL_FILE }}

      - name: generate build provenance
        uses: actions/attest-build-provenance@520d128f165991a6c774bcb264f323e3d70747f4  # v2.2.0
        with:
          subject-path: "${{ github.workspace }}/**/target/*.jar"

      - if: ${{ failure() }}
        uses: elastic/oblt-actions/slack/send@v1
        with:
          bot-token: ${{ secrets.SLACK_BOT_TOKEN }}
          channel-id: "#apm-agent-java"
          message: |
            :ghost: [${{ github.repository }}] Snapshot *${{ github.ref_name }}* didn't get triggered in Buildkite.
            Build: (<${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}|here>)
